@font-face{
    font-family: 'Adiwangsa';
    font-weight: 400;
    src: url(fonts/Adiwangsa-Regular.ttf) format('truetype'), url(fonts/Adiwangsa-Regular.otf) format('otf');
}
@font-face{
    font-family: 'Adiwangsa-script';
    font-weight: 400;
    src: url(fonts/Adiwangsa-Script.ttf) format('truetype'), url(fonts/Adiwangsa-Script.otf) format('otf');
}

:root{
    --clr-bl:white;
    --clr-noir:black;
    --clr-foncefonce:#2d3142;
    --clr-fonce:#4f5d75;
    --clr-clair:#bfc0c0;
    --clr-colore:#c69c6d; /*#c69c6d #ef8354*/
}

html{
    font-size: 20px;
    font-family: 'Adiwangsa';
}

/* -------------------COULEURS------------------------------- */
.clr-fonce{
    background-color: var(--clr-fonce);
}
.clr-clair{
    background-color: var(--clr-clair);
}
.clr-colore{
    background-color: var(--clr-colore);
}
.clr-bl{
    background-color: var(--clr-bl);
}
.txt-bl{
    color:var(--clr-bl);
}
.txt-noir{
    color:var(--clr-noir);
}
.txt-colore{
    color:var(--clr-colore);
}

/* -------------------TEXTE------------------------------- */
.txt-center{
    text-align: center;
    margin:0;
}
h2{
    margin:0;
    font-size: 2.5em;
}


/* --------------------BODY------------------------------ */

body{
    margin:0;
    letter-spacing: 0.123rem;
    line-height: 1.6;
    overflow-x: hidden;
}
.pdd-top{
    padding-top: 4%;
}
.pdd-top-xl{
    padding-top: 4%;
}
.pdd-btm{
    padding-bottom: 2%;
}
.pdd-l{
    padding-left: 3%;
}
.pdd-r{
    padding-right: 3%;
}

/* ---------------------HEADER----------------------------- */
header{
    background: url(../img/food-banner-1024x569.jpg) no-repeat;
    background-position: 20% 30%;
    background-size: cover;
    background-color: var(--clr-fonce); /* Le temps que l'image se charge */
    height: 250px;

}
    .banner{
        width:100%;
    }

/* ---------------------NAVBAR----------------------------- */
/* --- MENU --- */
.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: var(--clr-fonce);
    width:100%;
    height:auto;
    z-index:99;
    margin:0;
    position:sticky;
    top:0;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
}
    .topnav a {
        color: var(--clr-clair);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1em;
    }
    /* Logo */
    .topnav :first-child {
        padding: 0;
        height:55.2px;
    }
    .logo{
        max-height: 60px;
    }
        .topnav a:hover {
            background-color: var(--clr-clair);
            color: var(--clr-foncefonce);
        }
        .topnav a.active {
            background-color: var(--clr-clair);
            color: var(--clr-foncefonce);
        }
    .topnav .icon {
        display: none;
    }

/* ---------------------FLECHE UP----------------------------- */
#up{

}

/* --------------------QUI SOMMES NOUS ------------------------------ */
#fleche{
    position: relative;
    top:40px;
    text-align: center;
}
    #fleche img{
        max-height: 60px;
    }
#pointe{
    margin:0 auto;
    height: 0;
    width:0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--clr-colore);
    
}

/* ---------------------MANGIARE ----------------------------- */
.container{
    padding-inline: 15%;    
}
    .flex-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
        .flex-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .rond{
                border-radius: 100%;
                width: 250px;
                height: 250px;
            }
            .antipasti{
                background: url(../img/antipasti.jpg) no-repeat;
                background-size: cover;
            }
            .antipasti:hover{
                filter: grayscale(0.5);
                filter: brightness(0.3);
                cursor:pointer;
            }
            .pizza{
                background: url(../img/pizza.jpg) no-repeat;
                background-size: cover;
            }
            .pizza:hover{
                filter: grayscale(0.5);
                filter: brightness(0.3);
                cursor:pointer;
            }
            .pasta{
                background: url(../img/lasagnes.jpg) no-repeat;
                background-size: cover;
            }
            /* .pasta:hover{
                filter: grayscale(0.5);
                filter: brightness(0.3);
                cursor:pointer;
            } */
    /* .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
    } */
        
            .icon {
                filter: invert(1);
                /* color: white;
                font-size: 10px; */
                height: 70px;
                /* position: absolute; */
                top: 50%;
                left: 50%;
                /* transform: translate(-50%, -50%); */
                /* -ms-transform: translate(-50%, -50%); */
                text-align: center;
                opacity: 0;
              }
            .pizza:hover .overlay {
                opacity: 1;
            }
/* ---------------------LE CHEF------------------------------------- */
#lechef p{
    width: 40%;
}
#lechef h2{
    margin:0;
    text-align: left;
    font-size: 2.5em;
    position: relative;
    top:1em;
}
.phChef{
    position: relative;
    top:2em;
    left:15em;
    align-items: flex-start;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}
    .phChef img{
        width: 100%;
    }


/* ---------------------OU NOUS TROUVER----------------------------- */
.adresse{
    width: 35%;
}
#carte {
    height: 100%;
    width: 35%;
    min-height: 300px;
    min-width: 300px;
}

/* ---------------------FOOTER----------------------------- */
footer{
    /* padding-bottom: 1%; */
}
    .logo-footer{
        max-width: 300px;
    }
    .admin{
    }
    .admin a{
        text-decoration: none;
        color:var(--clr-bl);
    }
    .reseaux{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 20%;
    }
        .reseaux i{
            color:var(--clr-colore);
            min-height: 2em;
        }



        .content {
            position: relative;
            width: 90%;
            max-width: 400px;
            margin: auto;
            overflow: hidden;
          }
          .content .content-overlay {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
          }
          
          .content:hover .content-overlay{
            opacity: 1;
          }
          
          .content-image{
            width: 100%;
          }
          
          .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
          
          .content:hover .content-details{
            top: 50%;
            left: 50%;
            opacity: 1;
          }
          .fadeIn-top{
            top: 20%;
          }